<header>
  <a href="/" title="Home" id="site_logo">
    <img src="/site_assets/site-logo.png" alt="Voylin's Life">
  </a>

  <!-- Mobile header stuff -->
  <div id="mobile_menu_button">
    <a href="javascript:void(0);"  onclick="mobile_menu_button()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <script>
    function mobile_menu_button() {
      var nav = document.getElementById("top_navbar");
      var social = document.getElementById("top_social");
      if (nav.classList.contains("mobile_show_nav")) {
        nav.classList.remove("mobile_show_nav");
        social.classList.remove("mobile_show_social");
      } else {
        nav.classList.add("mobile_show_nav");
        social.classList.add("mobile_show_social");
      }
    }
  </script>

  <!-- Desktop header stuff -->
  <div id="top_social">
    {{ range sort .Site.Menus.social ".Weight" }}
    <a href="{{ .URL }}" title="{{ .Name }}" target="_blank">
      {{ .Pre }}
    </a>
    {{ end }}
  </div>

  <nav id="top_navbar">
    {{ range sort .Site.Menus.main ".Weight" }}
      <a href="{{ .URL }}" title="{{ .Name }}" class="text-center">
        {{ .Name }}
      </a>
    {{ end }}
    <a href="/search" title="Search"><i class='fas fa-search'></i></a>
  </nav>
</header>
