{{ define "main" }}
<section class="section">
  <h1 class="blog-title">{{ .Title }}</h1>

  <p class="metadata">
    <i class="far fa-calendar-alt"></i>&nbsp;
    {{ .PublishDate.Format "2006-01-02" }}
    {{ if .Params.categories }}
      &nbsp;-&nbsp;
      <i class="far fa-folder-open"></i>&nbsp;
      {{ range $idx, $category := .Params.categories }}
        {{- if ne $idx 0 }}, {{ end }}<a href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
      {{- end }}
    {{ end }}
  </p>

  <article>
    {{ if .Page.Params.video_url }}
      {{ partial "widgets/yt-video.html" (dict "video_url" .Page.Params.video_url) }}
    {{ end }}
    {{ .Content }}
  </article>
  <br><hr>
  <div id="prev-next-box">
    <p id="prev-post-button">
      {{ with .PrevInSection }}
        Previous post:<br/>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </p>
    <p id="next-post-button">
      {{ with .NextInSection }}
          Next post:<br/>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </p>
  </div>
  <hr>
</section>
{{ end }}